<!--Body-->

<main role="main" class="container-fluid main-dashboard">
  <section id="dashboard-jumbotron" class="container jumbotron">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <h2 class="text-center">Your Test</h2>


        <ol id="testGenerated">


          {{#each news.article }}
            <li>
              <div>
                <a href="{{article.url}}">{{article.title}}</a>
              </div>
            </li>
            <li>{{article.summary}}</li>>
          
              {{#each article.comment}}

                <div class="form-check">
                  User: {{comment.user}}
                  Date: {{comment.date}}
                  Comment: {{comment.text}}
                </div>
              {{/each}}

          {{/each}}
      </div>
    </div>
    <!--row--> 

  </section>
</main>

<!--End Body -->
